html, body {
    height: 100%;
} 

/* == font and gradient background  == */
body {
    font-family: Helvetica;
    background: linear-gradient( #e6dada, #274046);
}

/* == for gradient to take up 100% of page and align text and shadow on all text == */
html, body {
    height: 100%;
    text-align: center;
    text-shadow: 0px 4px 10px rgba(99, 99, 99, 0.8)
} 

/* == Button hover effect == */
#startQuizBtn {
    border: 0 solid;
    box-shadow: inset 0 0 100px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    transition: all 950ms cubic-bezier(0.19, 1, 0.22, 1);
    padding: 10px;
    margin: 10px;
}

#startQuizBtn:hover {
  border: 1px solid;
  box-shadow: inset 0 0 100px rgba(255, 255, 255, .5), 0 0 100px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 150px;
  text-shadow: 1px 1px 2px #427388; 
}

#highScoreBtn {
    border: 0 solid;
    box-shadow: inset 0 0 100px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    transition: all 950ms cubic-bezier(0.19, 1, 0.22, 1);
    padding: 10px;
    margin: 10px;
}

#highScoreBtn:hover {
    border: 1px solid;
    box-shadow: inset 0 0 100px rgba(255, 255, 255, .5), 0 0 100px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 150px;
    text-shadow: 1px 1px 2px #427388; 
}

#submitButton {
    border: 0 solid;
    box-shadow: inset 0 0 100px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    transition: all 950ms cubic-bezier(0.19, 1, 0.22, 1);
    padding: 10px;
    margin: 10px;
}

#submitButton:hover {
    border: 1px solid;
    box-shadow: inset 0 0 100px rgba(255, 255, 255, .5), 0 0 100px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 150px;
    text-shadow: 1px 1px 2px #427388; 
}

#resetBtn {
    border: 0 solid;
    box-shadow: inset 0 0 100px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    transition: all 950ms cubic-bezier(0.19, 1, 0.22, 1);
    padding: 10px;
    margin: 10px;
}

#resetBtn:hover {
    border: 1px solid;
    box-shadow: inset 0 0 100px rgba(255, 255, 255, .5), 0 0 100px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 150px;
    text-shadow: 1px 1px 2px #427388; 
}

#playAgainBtn {
    border: 0 solid;
    box-shadow: inset 0 0 100px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    transition: all 950ms cubic-bezier(0.19, 1, 0.22, 1);
    padding: 10px;
    margin: 10px;
}

#playAgainBtn:hover {
    border: 1px solid;
    box-shadow: inset 0 0 100px rgba(255, 255, 255, .5), 0 0 100px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 150px;
    text-shadow: 1px 1px 2px #427388; 
}
