@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

* {

    font-family: 'Secular One', sans-serif;
}

*::selection {

    background: rgb(136, 136, 136);
    color: rgb(255, 145, 0);
  }


/* == font and gradient background  == */
body {
    
    background: linear-gradient(#E6DADA, #274046); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

html, body {
    
    text-align: center;
    text-shadow: 5px 5px 10px rgba(99, 99, 99, 0.8)
} 

.welcome {

    font-size: 70px;
    padding-top: 30px;
    margin-bottom: 30px;
}

.start {

    margin-top: 100px;
    padding: 50px;
    padding-right: 200px;
    padding-left: 200px;
}

#questions {
   
    font-size: 60px;
    color:white;
    margin: 50px;
}

#timer {
    
    font-size: 100px;
    color:white;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.viewHighScore {
    
    margin-top: 50px;
    margin-right: 2px;
    position:absolute;
    top:0;
    left:0;
}


.nerdy {
   
    color:white;
    font-size: 30px;
    padding: 50px;  
}

.intro, #timer, #clock #score {
   
    color: white;
   }

#reset, #quizSection, #result, #gameover, #highScoreHeader, #highscore, #highScorePage {
    display: none;
}

button{

    text-decoration-color: #ffffff;
    border: 10px solid;
    box-shadow: inset 0 0 5px  #000000;
    outline: 5px solid;
    border-radius: 20px;
    border: 5px solid rgb(255, 247, 0);
    outline-color: rgba(255, 255, 255, 0.419);
    outline-offset: 0px;
    transition: all 550ms cubic-bezier(0.50, 1, .50, 1);
    padding: 20px;
    margin: 50px;
    background-color: #cdcdcd;
    cursor: pointer;
}

button:hover {

    background-color: #ffffff;
    border: 2px solid;
    box-shadow: inset 0 0 100px rgba(255, 255, 255, .5);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 150px;
    text-shadow: 5px 5px 5px #427388; 
}