
/* == font and gradient background  == */
body {
    font-family: Helvetica;
    background: linear-gradient( #e6dada, #274046);
}

html, body {
    text-align: center;
    text-shadow: 5px 5px 10px rgba(99, 99, 99, 0.8)
} 

.welcome {
    font-size: 60px;
    padding: 50px;    
}

.intro, #timer, #clock #score {
    color: white;
   }

#reset, #quizSection, #result, #gameover, #high-scorePage, #highscore {
    display: none;
}

button{
    border: 5px solid;
    box-shadow: inset 0 0 100px #95fed0;
    outline: 5px solid;
    border-radius: 20px;
    border: 5px solid #cbcbcb;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    padding: 20px;
    margin: 20px;
    background-color:#f0c17f;
    cursor: pointer;
}

button:hover {
    border: 2px solid;
    box-shadow: inset 0 0 100px rgba(255, 255, 255, .5), 0 0 100px rgba(255, 255, 255, .2);
    box-shadow: 100px rgba(255, 255, 255, .5);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 150px;
    text-shadow: 5px 5px 5px #427388; 
}